.search-bar{
    margin-left: 5px;
}
.search-input{
    width:541px;
height: 30px;
top: 182px;
left: 424px;
font-family: Poppins;
font-weight: 400;
font-size: 18px;
line-height: 27px;
letter-spacing: 0%;
color: #747474;
border: 1px solid #969696;
display: flex;
gap: 20px;
}